@model DressSewingServiceDAL.ViewModels.StoreViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreMaterials[0].MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreMaterials[0].Count)
            </th>
        </tr>

        @foreach (var item in Model.StoreMaterials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
